/* 2º Section (Programação e Livros em alta*/
.sectionpromocaoelivros{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding: 30px 0; /*Espaçar os 2 conteúdos (e a linha) do 3º section*/
}

.imgsection2{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
}

.titulo1section2,
.titulo2section2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.6rem;
}

.titulo2section2{
    text-align: right;
}

.textosection2{
    max-width: 300px;
    width: 100%;
    text-align: justify;
    text-indent: 30px;

}

.bloco1section2,
.bloco2section2 {
    margin: 0 20px;
    text-align: center;
}

.linhavertical{
    height: 100%;
    min-height: 300px;
    border: 1px solid var(--border-color); 
    margin: 0 15px;
} 

.linhahorizontal {
    width: 80%;
    height: 2px;
    background-color: var(--border-color);
    margin: 10px auto;
    display:none;
}

@media (max-width: 768px) {
    .sectionpromocaoelivros {
        flex-direction: column;
        gap: 15px;
        padding: 20px 10px;
    }

    .imgsection2 {
        max-width: 200px;
        margin: 0 10px; 
    }

    .titulo1section2,
    .titulo2section2 {
        font-size: 16px;
        text-align: center;
    }

    .textosection2 {
        font-size: 13px;
        text-align: center;
        text-indent: 0;
        padding: 0 10px;
        
    }

    .linhavertical {
        display: none;
    }

    .linhahorizontal {
        display: block;
    }
}