.sectioncards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-large);
    align-items: stretch;
    padding-top: 60px;
    padding-bottom: 60px; /*Espaçar os 3 cards do 2º section*/
    background-color: var(--menu-color);
}

.sectioncards section {
    width: 450px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.titulo1section{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.6rem;
}

.sectioncards header img {
    display: block; /* faz o link ocupar toda a área da imagem */
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sectioncards header img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
    /* 1ª SECTION (CARDS) */
    .sectioncards {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-large);
    }

    .sectioncards section {
        max-width: 260px; 
    }


    .textocards {
        font-size: 13px;
        padding: 0 10px;
    }
}