/* Menu superior fixo na tela */
.menu{ 
    background-color: var(--menu-color);
    padding: var(--spacing-small) var(--spacing-large);

    position: sticky; /*menu fixo durante rolagem da página (position para fixar, width para preencher a tela inteira e top para grudar no topo da pagina)*/
    width: 100%;
    top: 0;
    z-index: 1000;

    display: flex; /*flexbox para alinhar os itens horizontalmente, dando espaço e centralizando*/
    align-items: center;
    justify-content: space-between;
    
    
}

.links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.links a,
#mudar_tema {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo do menu superior */
.logo {
    height: auto;
    width: 150px;
}


/* Fonte geral do menu superior */
.links a{
    text-decoration: none;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);

}

/* Botão de contato do menu superior */
.botaocontato{
    border: 3px solid var(--border-color);
    padding: 5px;
    font-weight: bold;
}
.dark-mode .botaocontato {
    border: 3px solid white; /* borda branca no dark mode */
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        gap: 5px;
        padding: 8px;
    }

    .logo {
        width: 80px;
    }

    .links {
        display: flex;
        align-items: center; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .links a,
    #mudar_tema {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 4px;
        font-size: 12px;
    }
    #contato{
        border: 1px solid var(--border-color); 
        padding: 3px 6px;
        font-weight: bold;
        font-size: 14px;
    }
    #mudar_tema {
        transform: scale(0.8);
    }
}