/* MENU*/
    .menu {
        flex-direction: column;
        gap: 5px;
        padding: 8px;
    }

    .logo {
        width: 80px;
    }

    .links {
        display: flex;
        align-items: center; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .links a,
    #mudar_tema {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 4px;
        font-size: 12px;
    }
    #contato{
        border: 1px solid var(--border-color); 
        padding: 3px 6px;
        font-weight: bold;
        font-size: 14px;
    }
    #mudar_tema {
        transform: scale(0.8);
    }
