.sectioncards header img {
    display: block; /* faz o link ocupar toda a área da imagem */
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sectioncards header img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.mudar_tema {
    color:var(--iconmudartema-color); /* modo claro */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dark-mode .mudar_tema {
    color:var(--iconmudartema-color); /* modo escuro */
}

.dark-mode .logo {
    filter: brightness(0) invert(1);
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Trebuchet MS';
}
